.product-item{
    // .stamped-badge-caption{
    //   font-size: 0px;
    //   position: relative;
    // }
    // .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span{
    //   display: none !important;
    // }
    // .stamped-product-reviews-badge .stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
    //     content: '('attr(data-reviews)') ' !Important;
    //     font-size: calc(0.9rem * var(--FONT-ADJUST-BODY));
    //     position: absolute;
    //     left: 0px;
    //     @media only screen and (max-width: 749px) {
    //       position: initial;
    //     }
    // }


    .badge-box,.sale-box{
      border-radius: 40px;
      right: var(--left-spacing);
      left: inherit;
  }
}