.product-item{
    // .stamped-badge-caption{
    //   font-size: 0px;
    //   position: relative;
    // }
    // .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span{
    //   display: none !important;
    // }
    // .stamped-product-reviews-badge .stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
    //     content: '('attr(data-reviews)') ' !Important;
    //     font-size: calc(0.9rem * var(--FONT-ADJUST-BODY));
    //     position: absolute;
    //     left: 0px;
    //     @media only screen and (max-width: 749px) {
    //       position: initial;
    //     }
    // }


  .badge-box,.sale-box{
      border-radius: 40px;
      right: var(--left-spacing);
      left: inherit;
  }
  display: grid;
  grid-template-rows: auto 1fr;
  .product-item__info{
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    @media only screen and (min-width: 750px){
      padding: var(--inner);
      padding-top: calc(var(--inner)/2);
    }
    .product-link{
      flex-grow: 1;
    }
    //quick add to cart
    .custom_button{
      margin-top: 12px;
      @media only screen and (min-width: 750px){
        margin-top: var(--inner);
      }
    }
    quick-add-product.quick_add_tocart{
      display: block;
      margin-top: 12px;
      @media only screen and (min-width: 750px){
        margin-top: var(--inner);
      }
      button{
        width: 100%;
      }
    }
  }
}