.predictive-search__grid-item.product-item .stamped-badge-caption {
  vertical-align: middle;
}
@media only screen and (min-width: 750px) {
  .predictive-search__grid-item.product-item .stamped-badge-caption {
    vertical-align: initial !important;
  }
}

.product-item:not(.product-item--featured) {
  display: grid;
  grid-template-rows: auto 1fr;
}
.product-item:not(.product-item--featured) .stamped-product-reviews-badge .stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
  content: ")" !important;
}
.product-item:not(.product-item--featured) .stamped-product-reviews-badge .stamped-badge-caption[data-reviews][data-label][data-version="2"]:before {
  content: "(" !important;
}
.product-item:not(.product-item--featured) .stamped-badge-caption {
  vertical-align: middle;
}
@media only screen and (min-width: 750px) {
  .product-item:not(.product-item--featured) .stamped-badge-caption {
    vertical-align: top;
  }
}
.product-item:not(.product-item--featured) .stamped-badge-caption[data-reviews][data-label][data-version="2"] > span {
  display: none !important;
}
.product-item:not(.product-item--featured) .badge-box, .product-item:not(.product-item--featured) .sale-box, .product-item:not(.product-item--featured) .preorder-box {
  border-radius: 40px;
  right: var(--left-spacing);
  left: inherit;
}
.product-item:not(.product-item--featured) .product-item__info {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
}
@media only screen and (min-width: 750px) {
  .product-item:not(.product-item--featured) .product-item__info {
    padding: var(--inner);
    padding-top: calc(var(--inner) / 2);
  }
}
.product-item:not(.product-item--featured) .product-item__info .product-link {
  flex-grow: 1;
}
.product-item:not(.product-item--featured) .product-item__info .custom_button {
  margin-top: 12px;
}
@media only screen and (min-width: 750px) {
  .product-item:not(.product-item--featured) .product-item__info .custom_button {
    margin-top: var(--inner);
  }
}
.product-item:not(.product-item--featured) .product-item__info quick-add-product.quick_add_tocart {
  display: block;
  margin-top: 12px;
}
@media only screen and (min-width: 750px) {
  .product-item:not(.product-item--featured) .product-item__info quick-add-product.quick_add_tocart {
    margin-top: var(--inner);
  }
}
.product-item:not(.product-item--featured) .product-item__info quick-add-product.quick_add_tocart button {
  width: 100%;
}

.template-product .product-bundle-container .accordion-content {
  padding-top: 10px;
  padding-bottom: 0px;
}
.template-product .product-bundle-container .cart__item {
  padding: 0px;
  border-bottom: none;
  margin-bottom: 26px;
}
.template-product .product-bundle-container .cart__item .cart__item__image img {
  margin: 0px;
}
.template-product .product-bundle-container .cart__item .cart__item__content {
  padding-right: 0px;
  padding-left: 39px;
  width: calc(100% - 150px);
}
.template-product .product-bundle-container .cart__item .cart__item__title {
  margin-top: 0px;
  margin-bottom: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.template-product .product-bundle-container .cart__item .cart__item__title a {
  text-decoration: none;
  background: none;
  padding: 0px;
}
.template-product .product-bundle-container .cart__item .short_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin: 0px;
}
.template-product .product-bundle-container .cart__item .cart__item__meta {
  margin-top: 0px;
  margin-bottom: 10px;
}
.template-product .product-bundle-container .cart__item .cart__item__meta .cart__item__selected-options {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.template-product .product-bundle-container .cart__item .cart__item__meta p {
  margin: 0px;
}
@media only screen and (max-width: 749px) {
  .template-product .product-bundle-container .cart__item {
    margin-bottom: 16px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__image img {
    width: 120px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__content {
    padding-right: 0px;
    padding-left: 19px;
    width: calc(100% - 120px);
  }
  .template-product .product-bundle-container .cart__item .cart__item__title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 9px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__meta {
    margin-bottom: 9px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__meta .cart__item__selected-options {
    font-size: 12px;
    line-height: 16px;
  }
  .template-product .product-bundle-container .cart__item .short_description {
    font-size: 12px;
    line-height: 16px;
  }
}

.template-cart div[content-gift-product] {
  width: 100%;
}
.template-cart .header__mobile__bottom,
.template-cart .free-shipping {
  display: none;
}
.template-cart .free_gift_message {
  margin-top: 20px;
}
.template-cart .free_gift_product {
  width: 100%;
  margin-top: 20px;
}
.template-cart .free_gift_product .message-bg {
  background-color: var(--COLOR-PRIMARY);
  padding: 15px 15px;
  font-size: 14px;
}
.template-cart .free_gift_product .gift_product {
  margin: 0;
  border: 1px solid #f0f0f0;
  padding: 13px 9px;
  border-top: none;
}
.template-cart .free_gift_product .gift_product .product-grid {
  justify-content: center;
  row-gap: 20px;
  -moz-column-gap: 9px;
  column-gap: 9px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
}
@media only screen and (max-width: 749px) {
  .template-cart .free_gift_product .gift_product .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.template-cart .free_gift_product .gift_product .product-grid .product-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .product_add {
  flex: 1;
  display: flex !important;
  justify-content: flex-end;
  flex-direction: column;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .product_add .add-btn-text {
  margin-top: 0px;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .badge-box,
.template-cart .free_gift_product .gift_product .product-grid .product-item .sale-box {
  display: none;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .product__grid__title {
  margin-top: 5px;
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .price {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: block;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .price .sold-out {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .product_add {
  display: block;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .product_add .btn {
  margin-top: 10px;
  display: block;
  cursor: pointer;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .product_add .btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.template-cart .free_gift_product .gift_product .product-grid .product-item .product-information .product_add .btn.isTheCurrentProduct {
  cursor: pointer;
  pointer-events: initial;
  opacity: 1;
}
.template-cart .free_gift_product .btn-wrap {
  width: 100%;
  grid-column: 1/-1;
}
.template-cart .free_gift_product.active .btn {
  color: #888;
  background: transparent;
  border: 1px solid #dadada;
}
.template-cart .free_gift_product .imdone a {
  color: #000;
}
.template-cart .congrates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.template-cart .congrates:after {
  content: "";
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.template-cart .congrates.open:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 7px;
}

.cart__items .cart__item[data-gift-item] .cart__quantity, .drawer__items .cart__item[data-gift-item] .cart__quantity {
  opacity: 0;
}

.hide {
  display: none !important;
}
